/* CSS RESET || */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* VARIABLES TO USE || */
:root {
    --color-text: rgb(240, 240, 240);
    
}

/* Div outlines */
div {
    border: solid 1px gray;
}

/* BASIC STYLING || */
body {
    background-color: rgb(216, 205, 190);
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
}

h1 {
    text-align: center;
    font-size: 70px;
    color: white;
}

/* LEFT SIDE || */
body #main-left-div {
    width: 40%;
    border: solid 2px rgb(82, 82, 82);
    position: relative;
}

#title-div {
    padding: 20px 0px 20px 0px;
    background-color: rgba(36, 36, 36, 0.39);
    position: absolute;
    top: 30%;
    width: 100%;
}

.bg {
    width: 100%;
    height: 100%;
}

/* RIGHT SIDE || */
body #main-right-div {
    width: 60%;
    border: solid 2px rgb(82, 82, 82);
}

#intro {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#intro h3 {
    font-size: 40px;
    padding: 9% 7% 0px 7%;
}
